*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(72, 56, 87);
}

.efects li{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;

    animation: efect 5s infinite;
    /*animation-direction: alternate;*/
}





@keyframes efect {
    
    from{
        opacity: 0;
        transform: translateY(-1000px) rotate(960deg);
    }

    50%{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: translateY(100)  ;
    }
}
