.godot button{
    background-color: rgba(161, 83, 240, 0.454);
    box-shadow: 6px 6px 5px rgba(230, 86, 255, 0.499);
    color: aliceblue;
}

/*======CARDS======*/

.cards{
    display: flex;
    justify-content: space-around;

    
}

.card{
    display: grid;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 5%;

    width: 30%;
    height: auto;
    padding: .5%;
}

.img_card{
    width: 97%;
    height: auto;

    border-radius: 5%;
}

